@{
  Layout = "_Layout";
}

@using PierresBakery.Models;
@using System.Security.Claims
@model IEnumerable<PierresBakery.Models.Flavor>

<h1>Flavors for @User.Identity.Name</h1>

@if (Model.Any())
{
  <ul>
    @foreach (Flavor flavor in Model)
    {
      <li>@Html.ActionLink($"{flavor.Description}", "Details", new { id = flavor.FlavorId })</li>
    }
  </ul>
} 
else
{
  <h3>No flavors have been added yet!</h3>
}

<p>@Html.ActionLink("Add new flavor", "Create","Flavors", null,  new { @class = "btn btn-dark btn-large" } )</p>

<p>@Html.ActionLink("Home", "Index", "Home", null,  new { @class = "btn btn-dark btn-large" } )</p>